# Dependency directories (The big one!)
node_modules/

# Environment variables (Crucial for security)
.env
.env.local
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Vercel specific
.vercel

# Build outputs
dist/
build/

# OS metadata
.DS_Store
Thumbs.db